<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-alert-plugin-Device-Admin"
        version="0.0.1">
    <name>Device Admin</name>
    <description>A plugin to check if Device Admin enabled</description>
    <license>Apache 2.0</license>
    <keywords>Device,plugin,admin,Debug</keywords>
    <repo>https://github.com/vitalliance/Plugin-Device-Admin.git</repo>

    <js-module src="www/plugin.js" name="Admin">
        <clobbers target="cordova.plugins.DeviceAdmin" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DeviceAdmin" >
                <param name="android-package" value="com.example.cordova.DeviceAdmin"/>
            </feature>
        </config-file>

        <source-file src="src/android/DeviceAdmin.java" target-dir="src/com/example/cordova/Admin"/>
    </platform>

</plugin>