<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.example.cordova.alert"
        version="0.0.1">
    <name>Alert Plugin</name>
    <description>A plugin to show native alert</description>
    <license>Apache 2.0</license>
    <keywords>cordova,plugin,alert</keywords>
    <repo>https://github.com/Vitalliance/Plugin-Test.git</repo>

    <js-module src="www/plugin.js" name="Alert">
        <clobbers target="cordova.plugins.Alert" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AlertPlugin" >
                <param name="android-package" value="com.example.cordova.alert.AlertPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/AlertPlugin.java" target-dir="src/com/example/cordova/alert"/>
    </platform>

</plugin>